

@media only screen and (max-width: 321px) {

  .main {
    display: grid;
    width: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
  }
  
  .cards{
      width:350px;
      height: 250px;
      background-color: #ffff;
      transition: 300ms ease;
      border-radius: 3%;
      box-shadow: 0 12px 12px hsl(229, 6%, 66%);

  }
}


@media only screen and (min-width:600px){

 .main {
   display: grid;
   width: px;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(3,1fr);
   grid-gap: 10px;
   justify-items: center;
   align-items: center;
 }

 .cards {
 width: 100%;
  /* height: 250px; */
  background-color: #ffff;
  transition: 300ms ease;
  border-radius: 3%;
  box-shadow: 0 12px 12px hsl(229, 6%, 66%);

 }

.karma {
  grid-column: 2/3;
  grid-row: 2/3;
  position: relative;
  top: 120px;
}

.super {
  grid-row: 2/3;
}

.calc {
  grid-column: 3/4;
  grid-row: 2/3;

}

.team {
  grid-column: 2/3;
  position: relative;
  top: 100px;
}




}


